<%- include("partials/header.ejs") %>

<div class="container">
  <div class="card position-absolute top-50 start-50 translate-middle">
    <div class="card-body">
      <span class="badge text-bg-primary">General Knowledge</span>
      <span class="badge text-bg-secondary mb-3">Medium</span>
      <h5 class="card-title mb-3">
        Which of these Marvel games was released on the Playstation 2?
      </h5>
      <div class="row g-2 mb-2">
        <div class="col-6">
          <button
            type="button"
            class="btn btn-outline-secondary"
            style="width: 100%; height: 100%">
            Seconkdsklfjlkdsjfslkdfjkljd sdflksdjfdfjsjdfjshf jkds hfkjd hdary
          </button>
        </div>
        <div class="col-6">
          <button
            type="button"
            class="btn btn-outline-secondary"
            style="width: 100%; height: 100%">
            Secondary
          </button>
        </div>
        <div class="col-6">
          <button
            type="button"
            class="btn btn-outline-secondary"
            style="width: 100%; height: 100%">
            Secondary
          </button>
        </div>
        <div class="col-6">
          <button
            type="button"
            class="btn btn-outline-secondary"
            style="width: 100%; height: 100%">
            Secondary
          </button>
        </div>
      </div>
      <div class="text-end">Questions supplied by <b><a href="https://opentdb.com/" target="_blank">Open Trivia DB</a></b></div>      
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
